<h1 class="text-center mb-3">Members app</h1>
<form action="/api/members" method="POST" class="mb-4">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control">
  </div>
  <input type="submit" value="Add Member" class="btn btn-primary btn-block">
</form>

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Status</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each members}}
                    <tr>
                      <td>
                          <h5 class="font-medium mb-0">{{ this.name }}</h5>
                      </td>
                      <td>
                          <span class="text-muted">{{ this.email }}</span><br>
                      </td>
                      <td>
                          <span class="text-muted">{{ this.status }}</span><br>
                      </td>
                      <td>
                        <a class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" href='/api/members/delete/{{this._id}}' onclick="return confirm('Are you sure you want to delete?');"><i class="fa fa-trash"/></i> </a>
                        <a class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" href='/api/members/edit/{{this._id}}'><i class="fa fa-edit"></i> </a>
                      </td>
                      
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>